body{
	background-color: #212121;
	display: flex;
	margin: 0;
	font-family: sans-serif;
}
.sidebar{
	background-color: #FFFF00;
	width: 30vw;
    order: 1;
    justify-content: flex-start;
}
main{
	color: #FFF;
	padding-left: 5vw;
	padding-top: 4vw;
    order: 2;
}
.sidebarInfo{
	background-color: #212121;
	color: #FFFF00;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
    display: block;
    width: 30vw;
}
.sidebarInfo:nth-child(1){
    margin-top: 30vh;
}
img{
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	margin-left: -25vw;
	margin-top: -15vh;
    margin-bottom: 3vh;
}
a{
	color: #212121;
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
	margin-left: 2.5vw;
}
.about{
	padding-left: 2.5vw;
	padding-right: 2.5vw;
    text-align: justify;
}
table{
	color: #FFF;
    width: 100%;
}
td{
    width: 50%;
}
.highlighttxt{
	color: #FFFF00;
}
h1{
	margin: 0;
	font-size: 10vh;
    line-height: 0.9;
}
.underName{
	font-size: 50%;
    margin-top: 10vh;
}
.institution{
    font-weight: bold;
    font-size: 110%;
    display: block;
    margin-bottom: 1vh;
}
h2{
    border-style: hidden;
    border-bottom-style: solid;
    border-color: #FFFF00;
}
h2:nth-child(2){
    margin-top: 10vh;
}
.rec{
    display: flex;
}
.boss{
    flex-grow: 1;
    text-align: center;
}