body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
header, main {
    display: flex;
    color: #FFF;
}
.avatar{
    background-color: #FFFF00;
    color: #212121;
    width: 30vw;
    display: flex;
}
img{
    width: 10vw;
    height: 10vw;
    margin: auto;
    border-radius: 50%;
    border: solid #616161;
}
h1{
    font-size: 5vw;
}
.highlighttxt{
    color: #FFFF00;
}
.underName{
    font-size: 50%;

}
.underline{
    text-decoration: underline;
    text-decoration-color: #FFFF00;
}
.sidebar{
    background-color: #FFFF00;
    color: #212121;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebarInfo{
    background-color: #212121;
    color: #FFFF00;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: block;
    width: 30vw;
    border-style: none;
}
h2{
    border-style: hidden;
    border-bottom-style: solid;
    border-color: #FFFF00;
}
h2:nth-child(2){
    margin-top: 10vh;
}
ul{
    padding: 0;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    text-align: center;
}
a{
    color: #212121;
}
.about{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: justify;
}
.hobby{
    margin-top: auto;
}
.hobbytitle{
    margin: 0;
}
.hobbyico{
    display: flex;
    justify-content: space-around;
    padding-bottom: 4vw;
    padding-top: 4vw;
    padding-right: auto;
    padding-left: auto;
    font-size: 50px; 
}
.fa-hamburger,
.fa-drumstick-bite,
.fa-hotdog,{
    padding: 1vw;
    border: solid #212121 7px;
    border-radius: 50%;
}
.fa-laptop-code,
.fa-wrench,
.fa-pencil-alt{
    padding: 1vw;
    border: solid #212121 7px;
}
.cv, h1{
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}
.fa-book,
.fa-briefcase,
.fa-folder-open{
    color: #FFFF00;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}
.container{
    padding: 3vh;
}
.element{
    display: flex;
    padding-bottom: 5vh;
}
.location{
    width: 30%;
    flex-basis: 30%;
    display: flex;
}
.details{
    flex-basis: 70%;
}
.fa-chevron-circle-right,
.fa-angle-right{
    color: #FFFF00;
    margin-right: 1vw;
}
.institution{
    font-weight: bold;
    font-size: 110%;
    display: block;
    margin-bottom: 1vh;
}
.rec{
    display: flex;
    padding-bottom: 5vh;
}
.boss{
    flex-grow: 1;
    text-align: center;
}
@media all and (orientation: portrait) {
    body{
        flex-direction: column;
    }
    header{
        background-color: #FFFF00;
        color: #212121;
        justify-content: center;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .avatar{
        order: 1;
        width: 20%;
    }
    img{
        width: 9vw;
        height: 9vw;
        margin-right: 0;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    h1{
        width: 60%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .underline{
        text-decoration-color: #212121;
    }
    .highlighttxt{
        background-color: #212121;
    }
    main{
        flex-direction: column;
        
    }
    .sidebar{
        width: 100%;
        order: 1;
        
    }
    .sidebarInfo{
        width: 100%;
    }
    
    ul{
        display: flex;
        justify-content: space-evenly;
        padding: 2vw;
    }
    .about{
        width: 80%;
        padding: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    .hobbyico{
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        padding-right: 30vw;
        padding-left: 30vw;
    }
    .cv{
        width: 80vw;
        padding-top: 3vh;
        padding-bottom: 5vh;
    }
    .container{
        padding: 1vw;
    }
    .element{
        padding-bottom: 3vw;
    }
    .rec{
        padding-bottom: 0;
    }
}
@media all and (max-width: 450px){
    header{
        height: 55vw;
    }
    h1{
        font-size: 2.5em;
        padding-top: 3vh;
        padding-bottom: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .underName{
        font-size: 0.6em;
    }
    img{
        width: 8vh;
        height: 8vh;
        margin-right: 0;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .hobbyico{
        padding: 8vw;
        border-width: 5px;
    }
    .element{
        flex-direction: column;
    }
    .details{
        text-align: justify;
    }
}